@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --light: #fff;
  --dark: #504f4f;
  --accent: #00cc90;

  --font-family: 'Poppins', sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3.6rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  
  --margin-sm: 1rem;
  --margin-md: 2rem;
  --margin-lg: 3rem;

  --section-spacing: 8rem;

  --gap-sm: 1.5rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--dark);
  overflow-x: hidden;
}

a {
  color: var(--dark);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

i {
  font-size: var(--font-size-md);
}

.container {
  max-width: 116rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-screen-hidden {
  display: none !important;
}

.d-grid {
  display: grid;
}

.section {
  padding-block: var(--section-spacing);
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--light);
  z-index: 9999;
}

/* Nav */
.nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
}

.logo {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--accent);
}

.menu-toggle-icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--accent);
  color: var(--light);
  cursor: pointer;
  transition: color .25s;
}

.menu-close-icon {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--margin-sm);
}

.list-link {
  position: relative;
}

.list-link::after,
.list-link.current::after {
  content: '';
  position: absolute;
  width: .5rem;
  height: .5rem;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  background-color: var(--accent);
  border-radius: 50%;
  opacity: 0;
  transition: opacity .25s;
}

.list-link.current::after {
  opacity: 1 !important;
}

.list-link:hover::after {
  opacity: 1;
}

.nav-mobile {
  background-color: #f8f8f8;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem;
  transform: translateY(-100%);
  z-index: -1;
  transition: transform .25s;
}

.nav.active .nav-mobile {
  transform: translateY(8rem);
}

.nav.active .menu-open-icon {
  display: none;
}

.nav.active .menu-close-icon {
  display: block;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
}

.header.active::before {
  opacity: 1;
  transform: scale(1);
}

.header.active-scroll {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* Main */
.showcase {
  margin-top: 8rem;
}

.showcase-container,
.popular-destinations-container,
.plan-trip-container {
  gap: var(--gap-lg);
}

.image-group {
  grid-template-columns: 2rem repeat(2, 1fr) 2rem repeat(2, 1fr);
}

.image-box {
  min-height: 25rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, .1);
  overflow: hidden;
}

.showcase .image-box {
  min-height: 25rem;
}

.image-box img {
  height: 100%;
  object-fit: cover;
  transition: transform .5s;
}

.image-box:hover img {
  transform: scale(1.1);
}

.image-left {
  grid-column: 1/4;
  grid-row: 1/span 10;
  z-index: 5;
}

.image-center {
  grid-column: 3/6;
  grid-row: 7/span 10;
  transition: z-index 0.3s;
}

.image-center:hover {
  z-index: 10;
}

.image-right {
  grid-column: 5/-1;
  grid-row: 3/span 10;
  z-index: 5;
}

.tagline {
  display: inline-block;
  font-size: var(--font-size-xsm);
  font-weight: var(--font-weight-bold);
  color: var(--accent);
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
}

.title {
  font-size: var(--font-size-md);
  margin-bottom: var(--margin-md);
}

.main-title {
  font-size: var(--font-size-lg);
}

.accent-text {
  color: var(--accent);
}

.description {
  margin-bottom: var(--margin-lg);
}

.btn {
  display: inline-block;
  background-color: var(--accent);
  color: var(--light);
  padding: 1rem 2.5rem;
  transition: background-color .25s;
}

.btn:hover {
  background-color: #12362b;
}

.secondary-grid {
  gap: var(--gap-lg);
}

.beach-data-wrapper {
  position: relative;
}

.beach-data-wrapper.image-box img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.beach-data {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.beach-data-inner {
  width: 100%;
  background-color: var(--light);
  padding: 1rem;
}

.beach-name {
  font-size: var(--font-size-sm);
  margin-bottom: var(--margin-sm);
}

.beach-location,
.beach-location .accent-text {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: var(--font-size-xsm);
}
.mountain-data-wrapper {
    position: relative;
  }
  
  .mountain-data-wrapper.image-box img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .mountain-data {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }
  
  .mountain-data-inner {
    width: 100%;
    background-color: var(--light);
    padding: 1rem;
  }
  
  .mountain-name {
    font-size: var(--font-size-sm);
    margin-bottom: var(--margin-sm);
  }
  
  .mountain-location,
  .mountain-location .accent-text {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--font-size-xsm);
  }

.btn.place-items-center {
  display: inline-flex;
}

.park-data-wrapper {
    position: relative;
  }
  
  .park-data-wrapper.image-box img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .park-data {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }
  
  .park-data-inner {
    width: 100%;
    background-color: var(--light);
    padding: 1rem;
  }
  
  .park-name {
    font-size: var(--font-size-sm);
    margin-bottom: var(--margin-sm);
  }
  
  .park-location,
  .park-location .accent-text {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--font-size-xsm);
  }

.newsletter {
  background: url('https://www.color-hex.com/palettes/50764.png') center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.newsletter::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
}

.newsletter-container {
  display: flex;
  justify-content: center;
}

.newsletter-container-inner {
  max-width: 78rem;
  text-align: center;
  color: var(--light);
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-md);
}

.btn-light {
  background-color: var(--light);
}